body{
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(56, 27, 75);
    color: #5bd954;
}
h1{
    font-size: 2.2rem;
}

p{
    font-size: 1.3rem;
}

.index-links{
    color: rgb(64, 189, 217);
    text-decoration: none;
}

.img-size{
    width: 26%;
    height: auto;
    border: solid rgb(64, 189, 217);
    padding: 0.5em;
    margin: 1em;
}

button{
    border: solid 1px rgb(64, 189, 217);
    background-color: rgb(56, 27, 75);
    font-size: 1em;
    font-family: 'Marhey Variable', system-ui;
    margin: 1rem;
}

.buttons{
    color: #18c224;
    text-decoration: none;
    font-weight: 600;
}