:root {
    --primary-color: #282A36;
    --paragraph-color: #4FE27A;
    --link-color: #90E9FF;
    --border-color: #B48BEA;
    --button-color: #FC7AD4;

    --primary-font: 'Grandstander Variable', system-ui;
    --paragraph-font: 'Chivo Mono Variable', monospace;
}

html{
    margin: 1.2em;
    font-size: 16px;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--paragraph-color);
}

h1{
    font-size: clamp(1.8rem, 2.5vw, 2rem);
}

p{
    font-family: var(--paragraph-font);
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.index-links{
    color: var(--link-color);
    text-decoration: none;
}
    
button{
    border: solid 1px var(--border-color);
    background-color: var(--button-color);
    font-size: 1em;
    margin: 1rem;
}

.buttons{
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-decoration: none;
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 1em;
}

.grid-item {
    display: grid;
}

.landscape img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.pixelart img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}