---
import BaseLayout from "../layouts/BaseLayout.astro"
const page = "Sandy :)"
---

<BaseLayout pageTitle={page}>
	<h1>Welcome to my digital home page on the internet !</h1> 
	<p>This is Santhosh and i love mountains, computers, camera and art. Well, i have few things that i like to share and showcase</p>
	<nav>
		<ul>
			<li><a href="blogs" class="index-links">Blogs</a></li>
			<li><a href="gallery" class="index-links">Gallery</a></li>
			<li><a href="arts" class="index-links">Arts</a></li>
			<li><a href="links" class="index-links">Links</a></li>
		</ul>
	</nav>
</BaseLayout>