---
import ContentPage from "../layouts/ContentPage.astro"
const page = "Links"
---

<ContentPage pageTitle={page}>
    <p>Links to my favourite people on the internet</p>
    <h3>Tech people</h3>
    <nav>
        <ul>
            <li><a href="https://dhh.dk" target="_blank" class="index-links">David Heinemeier Hansson</a> a.k.a DHH - Creator of Ruby on rails, Racing driver, Omachy creator and a family man - Mann.. i love his mentality</li>
            <li><a href="https://github.com/torvalds" target="_blank" class="index-links">Linus Torvalds</a> - Creator of linux kernal. "Fuck you NVIDIA", lol.</li>
            <li><a href="https://lukesmith.xyz" target="_blank" class="index-links">Luke Smith</a> - Youtuber, philosopher, The one who got me hooked into personal web thing, FOSS softwares and all</li>
            <li><a href="https://python.org/~guido" target="_blank" class="index-links">Guido van Rossum</a> - Creator of python, i love his personality</li>
        </ul>
    </nav>
    <h3>Personal Blogs</h3>
    <nav>
        <ul>
            <li><a href="https://cozynet.org/" target="_blank" class="index-links">CozyNet</a> - Cozy personal blogger</li>
            <li><a href="https://maddox.xmission.com/" target="_blank" class="index-links">The Best Page in the Universe</a> - Well that's what he calls it. </li>
            <li><a href="https://youtube.com/@pewdiepie" target="_blank" class="index-links">PewDiePie</a> - Not a traditional blogger, i love his vlogs after he shifted to japan, tho</li>
        </ul>
    </nav>
</ContentPage>